  /* __STRETCH GOAL:__ Use CSS style classes vs element names to do your styling, 
  except for adding the margin to the `body`. 
  That is a good thing to add to every CSS file, 
  and it should use the `body` HTML tag name. */

/* --------------------- body -------------------- */

body {
    /* Look up the CSS `background-image` property to learn how to use the provided `record.png` 
    as the background image on your page with a relative path. */    
    background-image: url("record.png");

    /* Look up CSS `background-repeat` to learn how to fill the body of the page with a repeating image. */
    background-repeat: repeat;

    background-color: #9BD770 ;
   }




/* Look up CSS `margin` and `padding`. 
  - Give the `body` a margin of `0`. (This removes the whitespace around the edges of the page.) 
  - Give the `main` padding of `1em`. (Curious about `em`? Look up CSS units.) */

/* --------------------- header--------------------- */
.header {
    /* Give the `header` a dark background color and choose a light  color for the text. */
    background-color: #375F1B; 
    color: #EBF7E3;

    /* Center the text in the `header`. */
    text-align: center;
}


/* --------------------- main -------------------- */
.main {
    /* Give the `main` a light grey background color. */
    background-color: lightgrey;
}




